<template id="category-card">
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <button class="btn btn-primary"></button>
                <button class="btn btn-secondary"></button>
            </div>
        </div>
    </div>
</template>