@{
    ViewData["Title"] = "Про нас";
}
<style>
    .about-container {
        width: 80%;
        margin: 0 auto;
    }

    .about-text {
        text-align: justify;
        text-justify: inter-word;
        margin-bottom: 1.5em;
        text-indent: 1.5em;
    }

    .about-title {
        text-align: center;
    }

    .contact-info {
        text-align: center;
    }
</style>

<div class="about-container">
    <h1 class="about-title">@ViewData["Title"]</h1>

    <p class="about-text">
        Основним завданням веб-застосунку є надання можливості користувачам вивчати та повторювати картки за допомогою техніки інтервальних повторень. 
        Наш проект був розроблений трьома студентами третього курсу факультету прикладної математики та інформатики як навчальний університетський проект.
    </p>

    <p class="about-text">
        У нашому веб-застосунку ви можете створювати власні набори карток для вивчення різних тем і предметів. Використовуючи метод інтервальних повторень, 
        ми допоможемо вам оптимально розподілити час для повторення карток, щоб ефективно засвоїти матеріал.
    </p>

    <p class="about-text">
        Наш веб-застосунок має зручний і інтуїтивно зрозумілий інтерфейс, що дозволяє швидко створювати, редагувати та видаляти картки та категорії.
        Ми надаємо можливість зручного доступу до нашого веб-застосунку з будь-якого пристрою. 
        Так ви зможете вчитися та повторювати картки в будь-який зручний для вас час і місце.
    </p>

    <p class="about-text">
        Дякуємо вам за використання нашого веб-застосунку. Ми надіємося, що він буде корисним і допоможе вам у вивченні нових матеріалів, 
        запам'ятовуванні важливої інформації та підвищенні вашої ефективності навчання.

        Якщо у вас є будь-які питання, пропозиції або відгуки щодо нашого веб-застосунку, будь ласка, зв'яжіться з нами зв'яжіться з нами за допомогою контактної інформаці. Ми завжди готові покращувати наш продукт та надавати вам якісні послуги.

        Дякуємо, що вибрали наш веб-застосунок і бажаємо вам успіхів у вашому навчанні!
    </p>
    
    <p class="contact-info">
        Зв'яжіться з нами за електронною адресою: <a href="mailto:pamjatayka@gmail.com">pamjatayka@gmail.com</a>
    </p>

</div>